.signup-page {
    min-height: 100vh;
    background-color: #f4f4f4;
    display: flex;
    flex-direction: column;
    padding: 1.5rem;
    font-family: 'Noto Sans', sans-serif;
    input{
        color: #6a6a6a;
    }
    .back-button {
      font-size: 1.5rem;
      margin-bottom: 1rem;
      background: none;
      border: none;
      cursor: pointer;
      color: #333;
      align-self: flex-start;
    }
  
    .signup-container {
      background-color: #f4f4f4;
      width: 100%;
      max-width: 400px;
      margin: 0 auto;
      display: flex;
      flex-direction: column;
  
      h1 {
        font-size: 28px;
        font-weight: 700;
        color: #1d1d1f;
        margin-bottom: 0.5rem;
      }
  
      .subtitle {
        font-size: 14px;
        color: #7e7e7e;
        margin-bottom: 1.5rem;
      }
  
      label {
        font-size: 14px;
        color: #2c2c2c;
        margin-bottom: 0.3rem;
      }
  
      input,
      .react-datepicker__input-container input {
        width: 100%;
        padding: 0.75rem 1rem;
        border-radius: 10px;
        border: 1px solid #ddd;
        background-color: #fff;
        font-size: 14px;
        margin-bottom: 1.2rem;
  
        &:focus {
          outline: none;
          border-color: #3b82f6;
          box-shadow: 0 0 0 2px rgba(59, 130, 246, 0.2);
        }
      }
  
      .phone-input-container {
        margin-bottom: 1.2rem;
      }
  
      .password-wrapper {
        position: relative;
  
        .toggle-visibility {
          position: absolute;
          top: 50%;
          right: 12px;
          transform: translateY(-50%);
          background: none;
          border: none;
          cursor: pointer;
          color: #999;
        }
      }
  
      .register-button {
        background-color: #0c0f2e;
        color: #fff;
        font-size: 16px;
        font-weight: 600;
        width: 100%;
        padding: 0.9rem;
        border-radius: 12px;
        border: none;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.08);
        transition: background 0.2s;
  
        &:hover {
          background-color: #11153b;
        }
      }
  
      .bottom-text {
        text-align: center;
        font-size: 13px;
        color: #7e7e7e;
        margin-top: 1.5rem;
  
        .login-link {
          font-weight: 600;
          color: #000;
          cursor: pointer;
          text-decoration: none;
  
          &:hover {
            text-decoration: underline;
          }
        }
      }
    }
  }
  